/* color palette from the brand identity */
:root {
  --blue: #1400FF;
  --catacean-blue: #01092E;
  --electric-crimson: #FF0043;
  --black: #131313;
  --white: #EEEEEE;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3, p {
  margin: 0;
}
