@import './base.css';

#app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #F9F9F9;
}

@media screen and (min-width: 675px) {
  #app {
    flex-direction: row;
  }
}